# 5. Configurações Locais Específicas (Nao sincronizar)
server.properties
Engine_Start.bat
mods/Cobblemon-fabric-1.7.3+1.21.1.jar
resourcepacks/COBBLEVERSE Soundtrack.zip
resourcepacks/JigglyRadio.zip